:root {
    --blue-black: #171f25; /*header*/
    --blue-black-rgb: 23, 31, 37;

    --medium-blue-black: #25292e; /*body background*/
    --medium-blue-black-rgb: 37, 41, 46;

    --light-blue-black: #2c373d; /*header box*/
    --light-blue-black-rgb: 44, 55, 61;

    --dark-blue: #394b61;
    --dark-blue-black-rgb: 57, 75, 97;

    --blue-sky: #28b2e6; /*header icon*/
    --blue-sky-rgb: 40, 178, 230;

    --sky: #39baea; /*icon background*/
    --sky-rgb: 57, 186, 234;

    --light-sky: #a9c6e6; /*body component emphasis font*/
    --light-sky-rgb: 169, 198, 230;

    --blue-gray-white: #acb9c9; /*body font*/
    --blue-gray-white-rgb: 172, 185, 201;

    --blue-gray: #9caec7; /*body title*/
    --blue-gray-rgb: 156, 174, 199;

    --light-blue-gray: #a3b2c4;
    --light-blue-gray-rgb: 163, 178, 196;

    --gray: #9399a0; /*body component font*/
    --gray-rgb: 147, 153, 160;

    --gray-white: #e9eef5; /*body*/
    --gray-white-rgb: 233, 238, 245;

    --white: white;
    --white-rgb: 255, 255, 255;

    --leaf: #7ac9b2; /*button emphasis*/
    --leaf-rgb: 122, 201, 178;

    --warning: #d70044; /*alarm emphasis*/
    --warning-rgb: 215, 0, 68;


    /* combination color with white */
    --deep-dark-sky: #7e91b0;
    --deep-dark-sky-rgb: 126, 145, 176;

    --medium-dark-sky: #8a9cba;
    --medium-dark-sky-rgb: 138, 156, 186;

    --dark-sky: #97a9c6;
    --dark-sky-rgb: 151, 169, 198;

    --light-dark-sky: #a8b9d3;
    --light-dark-sky-rgb: 168, 185, 211;

    /* main page list background color*/
    --light-pink: #ff6490;
    --light-pink-rgb: 255, 100, 144;
    --soft-cyan: #48e298;
    --soft-cyan-rgb: 72, 226, 152;
    --very-light-blue: #a28dff;
    --very-light-blue-rgb: 162, 141, 255;
    --very-light-orange: #ffc573;
    --very-light-orange-rgb: 255, 197, 115;
    --dark-moderate-orenge: #b28950;
    --dark-moderate-orenge-rgb: 178, 137, 80;
}