@import url(color.css);
@import url(reset.css);

body {
    height: 0;
    background-color: var(--gray-white);
}

.main-container {
    width: 100%;
    margin-top: 15vh;
}

.issue-header {
    position: relative;
    text-align: center;
    padding-top: 5vh;
}

.issue-icon {
    font-size: xxx-large;
    color: var(--blue-gray-white)
}

.issue-tag {
    font-size: large;
    margin-top: 2vh;
}

.issue-title {
    font-size: 2vw;
    color: var(--light-blue-black)
}

.issue-category, .issue-active {
    display: inline-block;
    border-radius: 1vw;
    color: white;
    padding: 1vh;
    width: 5vw;
    text-align: center;
}

.notice {
    background-color: var(--warning);
}

.question {
    background-color: var(--very-light-blue);
}

.chat {
    background-color: var(--very-light-orange);
}

.request {
    background-color: var(--dark-moderate-orenge);
}

.close {
    background-color: var(--light-dark-sky);
}

.open {
    border: 1px solid var(--dark-blue);
    color: black;
}

.list {
    width: 60vw;
    margin: 5vh auto 10vh auto;
    border-radius: 5px;
    font-size: larger;
    padding: 2vh 2vw;
    box-sizing: border-box;
}

.issue-content, .comment {
    display: flex;
    flex-direction: row;
}

.content {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.writer-img {
    height: 10vh;
    border-radius: 50%;
}

.content-header {
    padding: 1vw;
    background-color: var(--light-dark-sky);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--dark-blue);
}

.small-triangle {
    display: inline;
    position: relative;
    top: 1vw;
    width: 2vw;
    height: 15px;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--light-dark-sky);
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
}

.writer-name {
    font-family: Handon3gyeopsal600g, sans-serif;
}

.date {
    margin-left: 1vw;
    font-size: medium;
}

.text {
    padding: 1vw;
    color: var(--dark-blue);
}

.comment {
    margin-top: 6vh;
}

.comment-divider {
    margin-top: 8vh;
    margin-bottom: 8vh;
    border-bottom: 1px solid;
}

.comment-input-box {
    background-color: white;
    width: 100%;
    margin-top: 6vh;
}

.comment-input {
    border: 1px solid var(--dark-blue);
    min-height: 10vh;
    border-radius: 5px;
    padding: 1vw;
    outline: none;
    box-sizing: border-box;
}

.comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}

.comment-save-button {
    margin-top: 2vh;
    float: right;
    width: 5vw;
    height: 5vh;
    border-radius: 5px;
    background-color: var(--leaf);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}