@import "color.css";
@import "reset.css";

body {
    background-color: var(--gray-white);
    margin: 0;
}

.main-container {
    width: 100%;
    height: auto;
    min-height: 80vh;
    z-index: 1;
}

.mypage {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15vh 0 5vh 0;
    color: var(--dark-blue);
}

.profile {
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1vw;
}

.profile-image-container {
    position: relative;
    background-color: rgba(var(--light-sky-rgb), 0.5);
    grid-column: 1;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.user-image-input {
    display: none;
}

.user-image-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    box-shadow: 0 1px 10px 0 var(--blue-black);
    object-fit: cover;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-image-edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background-color: rgba(var(--blue-black-rgb), 0);
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    cursor: pointer;
}

.user-image-edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
    color: var(--white);
    opacity: 0;
    transition: all 0.5s;
}

.user-image-edit-button:hover {
    background-color: rgba(var(--blue-black-rgb), 0.5);
}

.user-image-edit-button:hover .user-image-edit-icon {
    opacity: 1;
}

.profile-info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
}

.profile-name {
    grid-column: 1;
    grid-row: 1;
}

.profile-email {
    grid-column: 2;
    grid-row: 1;
}

.profile-nick {
    grid-column: 1/3;
    grid-row: 2;
}

.profile-text, .profile-header1, .profile-header2 {
    width: 100%;
    padding-left: 1vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text {
    padding-left: 1vw;
    width: 100%;
    height: 60%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    font-size: larger;
}

.profile-header1, .profile-header2 {
    height: 40%;
    color: white;
}

.profile-header1 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--light-dark-sky);
}

.profile-header2 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: var(--deep-dark-sky);
}

.profile-content {
    margin-left: 1vw;
    width: 80%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profile-edit-button {
    grid-column: 2;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: xx-large;
    background-color: var(--deep-dark-sky);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.fa-user {
    color: var(--medium-dark-sky)
}

.fa-google {
    color: var(--warning);
}

.fa-user-secret {
    color: var(--light-dark-sky);
}

.blog {
    margin-top: 2vw;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(10vh, 10vh);
}

.blog-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    cursor: pointer;
}

.blog-icon {
    grid-column: 1;
    width: 100%;
    height: 10vh;
    background-color: var(--sky);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: white;
}

.blog-name {
    grid-column: 2;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-create-button {
    background-color: var(--sky);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    cursor: pointer;
}

.blog-create-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--light-blue-black-rgb), 0.5);
    z-index: 20;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blog-create-container.hide {
    display: none;
}

.blog-create-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    background-color: var(--gray-white);
    border-radius: 5px;
}

.blog-create-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: var(--dark-blue);
    font-size: larger;
    grid-row-gap: 2vh;
}


.blog-image-container {
    position: relative;
    background-color: rgba(var(--light-sky-rgb), 0.5);
}

.blog-image-input {
    display: none;
}

.blog-image-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8vw;
    height: 8vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: 0px 1px 10px 0px var(--blue-black);
    object-fit: cover;
}

.blog-create-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.blog-images-edit-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8vw;
    height: 8vw;
    border: none;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(var(--blue-black-rgb), 0);
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    cursor: pointer;
}

.blog-images-edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xxx-large;
    color: var(--white);
    opacity: 0;
    transition: all 0.5s;
}

.blog-images-edit-button:hover {
    background-color: rgba(var(--blue-black-rgb), 0.5);
}

.blog-images-edit-button:hover .blog-images-edit-icon {
    opacity: 1;
}

.blog-info {
    padding: 1vw;
}

.blog-name-container {
    margin-bottom: 2vh;
}

.blog-input-label {
    display: block;
    margin-bottom: 1vh;
}

.blog-name-input-container {
    position: relative;
}

.blog-create-input {
    position: relative;
    outline: none;
    font-size: medium;
    font-family: Handon3gyeopsal300g, sans-serif;
    border: 1px solid var(--gray);
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 1vh 0.5vw;
}

.blog-name-overlap-check {
    position: absolute;
    right: 0;
    width: 5vw;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--sky);
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.blog-name-input-description {
    display: block;
    margin: 1vh 0 0 1vh;
    font-size: small;
    color: var(--warning);
}

.blog-create-input-introduce {
    height: 5vh;
}

.blog-member-container {
    position: relative;
}

.blog-member-input-container {
    position: relative;
}

.blog-member-search {
    position: absolute;
    right: 0;
    width: 5vw;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--sky);
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.divider {
    margin: 2vh 0;
    border-bottom: 1px solid white;
}

.blog-member-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
    margin: 2vh auto;
}

.blog-member-item {
    display: grid;
    font-size: medium;
    grid-template-columns: 1fr 5fr;
}

.blog-member-item-img {
    border-radius: 50%;
    width: 2vw;
    margin: 0 auto;
}

.blog-member-item-info {
    line-height: 1.4;
    text-indent: 0.5vw;
    overflow: hidden;
}

.blog-member-item-id {
    display: none;
}

.blog-member-item-name {
    display: block;
}

.blog-member-item-email {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: small;
}

.blog-member-item-nickName {
    display: none;
}

.blog-save {
    float: right;
    width: 5vw;
    line-height: 2vw;
    border: none;
    border-radius: 5px;
    background-color: var(--sky);
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.blog-close-button {
    position: absolute;
    top: 22%;
    left: 75%;
    margin: 1vw;
    color: var(--white);
    font-size: xxx-large;
    cursor: pointer;
    transition: all 0.3s;
}

.blog-close-button:hover {
    color: var(--blue-black);
}

.alert-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--light-blue-black-rgb), 0.5);
    z-index: 30;
    animation: fadein 0.5s;
}

.alert-container.alert {
    display: block;
}

.alert-contents {
    position: relative;
    z-index: 20;
    top: 0;
    left: 50%;
    width: 60%;
    background-color: var(--medium-blue-black);
    border: 3px solid var(--white);
    border-radius: 5px;
    transform: translateX(-50%);
    color: var(--white);

}

.alert-contents:after {
    display: block;
    content: '';
    clear: both;
}


.alert-icon {
    display: block;
    margin: 3vh 0 0 3vw;
    font-size: xx-large;
}

.alert-message {
    display: block;
    width: 80%;
    margin: 1vh 0 1vh 10%;
    text-align: justify;
    font-size: xx-large;
}

.alert-buttons {
    float: right;
    display: block;
    border: none;
    margin: 0 1vw 1vh 0;
}

.alert-register,
.alert-confirm,
.alert-cancel {
    width: 4vw;
    height: 4vh;
    border: none;
    color: var(--white);
    font-family: Handon3gyeopsal600g, sans-serif;
    cursor: pointer;
    font-size: large;
    transition: all 0.3s;
}

.alert-register:hover,
.alert-confirm:hover,
.alert-cancel:hover {
    background-color: var(--leaf);
}

.alert-register {
    background-color: var(--blue-sky);
    display: none;
}

.alert-register.display {
    display: inline-block;
}

.alert-confirm {
    display: none;
    background-color: var(--light-sky);
}

.alert-confirm.display {
    display: inline-block;
}

.alert-cancel {
    display: none;
    margin-left: 1vw;
    background-color: var(--warning);
}

.alert-cancel.display {
    display: inline-block;
}


/* 태블릿 */
@media all and (max-width: 1065px) and (min-width: 801px) {
    .profile {
        grid-template-columns: 1fr 3fr;
    }

    .profile-name .profile-content {
        width: 60%;
    }

    .blog {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* 모바일 */
@media all and (max-width: 800px) {
    .profile {
        height: auto;
        grid-template-columns:auto;
        grid-gap: 2vw;
    }

    .profile-image-container {
        width: 180px;
        height: 180px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .profile-info {
        height: 230px;
        grid-gap: 2vw;
    }

    .profile-name,
    .profile-email,
    .profile-nick {
        grid-column: 1/3;
    }

    .profile-email {
        grid-row: 2;
    }

    .profile-nick {
        grid-row: 3;
    }

    .blog {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-name {
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}