@charset "utf-8";
@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    margin: 20vh auto;
    width: 60%;
    color: var(--dark-blue);
}

.main-container-header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    grid-row-gap: 3vh;
}

.title {
    grid-column: 1/3;
    font-family: Handon3gyeopsal600g, sans-serif;
    font-size: 3vw;
    font-weight: bolder;
}

.hashtags {
    font-size: x-large;
    font-weight: bold;
    color: slategray;
}

.hashtags-item {
    display: inline-block;
    margin-left: 1vw;
}

.editor-container {
    margin-top: 5vh;
}

.tui-editor-contents {
    font-size: larger;
    font-family: Handon3gyeopsal300g, sans-serif;
}

.writer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.writer-image {
    position: relative;
    width: 5vw;
    border-radius: 50%;
    text-align: right;
    cursor: pointer;
}

.writer-name {
    font-size: x-large;
    margin-top: 1vh;
}

.comment-divider {
    margin-top: 5vh;
    border-top: 1px solid;
}

.comment-list {
    margin: 5vh auto 10vh auto;
    font-size: larger;
    box-sizing: border-box;
}

.comment {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
}

.writer-img {
    height: 10vh;
    border-radius: 50%;
}

.comment-content {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.small-triangle {
    display: inline;
    position: relative;
    top: 1vw;
    width: 2vw;
    height: 15px;
    border-top: 10px solid transparent;
    border-right: 10px solid var(--blue-gray-white);
    border-bottom: 10px solid transparent;
    box-sizing: border-box;
}

.comment-header {
    padding: 1vw;
    background-color: var(--blue-gray-white);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--dark-blue);
}

.comment-writer {
    font-family: Handon3gyeopsal600g, sans-serif;
}

.comment-date {
    margin-left: 1vw;
    font-size: medium;
}

.comment-text {
    padding: 1vw;
}

.date {
    text-align: right;
    font-size: medium;
    margin-top: 1vh;
}

.comment-input-box {
    margin-top: 4vh;
    background-color: white;
    width: 100%;
}

.comment-input {
    border: 1px solid var(--dark-blue);
    min-height: 10vh;
    border-radius: 5px;
    padding: 1vw;
    outline: none;
    box-sizing: border-box;
}

.comment-input[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-size: large;
    color: var(--gray);
}

.comment-save-button {
    float: right;
    margin-top: 1vh;
    height: 5vh;
    width: 5vw;
    border-radius: 5px;
    background-color: var(--leaf);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.page-control {
    position: relative;
    width: 100%;
    margin-bottom: 5vh;
}

.prev-page,
.next-page {
    position: relative;
    width: 20vw;
    height: 10vh;
    font-size: large;
    /*border: 1px solid var(--gray);*/
    transition: all 0.3s;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 5px;
}

.prev-page {
    float: left;
}

.prev-page:hover {
    background-color: rgba(var(--light-pink-rgb), 0.5);
    color: var(--white);
}

.next-page:hover {
    background-color: rgba(var(--very-light-blue-rgb), 0.5);
    color: var(--white);
}

.prev-page-button,
.next-page-button {
    position: absolute;
    top: 50%;
    right: 7%;
    font-size: xxx-large;
    color: var(--light-blue-gray);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.prev-page-button {
    left: 7%;
}

.prev-page:hover .prev-page-button {
    color: var(--white);
    animation: prev-page-button-animation 1s ease-in-out 0s infinite forwards;
}


.next-page:hover .next-page-button {
    color: var(--white);
    animation: next-page-button-animation 1s ease-in-out 0s infinite forwards;
}

@keyframes prev-page-button-animation {
    to {
        transform: translate(-3%, -50%);
    }
    from {
        transform: translate(0, -50%);
    }
}

@keyframes next-page-button-animation {
    to {
        transform: translate(20%, -50%);
    }
    from {
        transform: translate(0, -50%);
    }
}

.prev-title,
.next-title {
    position: absolute;
    display: inline-block;
    top: 20%;
    right: 10%;
    width: 65%;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.next-title {
    left: 10%;
    text-align: left;
}

.prev-description,
.next-description {
    position: absolute;
    width: 65%;
    right: 10%;
    bottom: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.next-description {
    left: 10%;
}

.next-page {
    float: right;
}

.page-control:after {
    display: block;
    content: '';
    clear: both;
}