@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    width: 100%;
    margin-top: 15vh;
}

.title {
    position: relative;
    text-align: center;
}

.title-icon {
    height: 10vh;
}

.title-header {
    font-size: 5vw;
    color: var(--light-blue-black)
}

.title-footer {
    color: var(--gray)
}

.title-footer-texts {
    display: block;
    margin: 1vh 0;
}

.review-list {
    width: 70vw;
    margin: 10vh auto;
    border-radius: 5px;
    font-size: larger;
}

.active-buttons {
    width: 100%;
    height: 5vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.open-button {
    height: 100%;
    line-height: 5vh;
    vertical-align: middle;
    color: var(--dark-blue);
    background-color: var(--white);
    border-top-left-radius: 5px;
    cursor: pointer;
}

.close-button {
    height: 100%;
    color: white;
    line-height: 5vh;
    vertical-align: middle;
    background-color: var(--light-dark-sky);
    border-top-right-radius: 5px;
    cursor: pointer;
}

.review-items {
    background-color: white;
    width: 100%;
    padding: 2vh 0 2vh 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.review-items.close-checked {
    background-color: var(--light-dark-sky);
}

.search-box {
    display: inline-block;
    width: 70%;
    margin-left: 2vw;
    background-color: var(--gray-white);
    color: var(--blue-black);
    border-radius: 5px;
    transition: all 0.3s;
}

.search-box.close-checked {
    background-color: var(--white);
}

.search-icon {
    display: inline-block;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.search-input {
    display: inline-block;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    font-size: large;
    width: 85%;
    outline: none;
    background-color: var(--gray-white);
    color: var(--blue-black);
    transition: all 0.3s;
}

.search-input.close-checked {
    background-color: var(--white);
}

.divider {
    margin: 2vh auto 0 auto;
    width: 100%;
    border-top: 1px solid var(--gray-white);
}

.review-list-item {
    width: 95%;
    height: 10vh;
    margin: 2vh auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    border-radius: 5px;
    color: var(--dark-blue);
    background-color: var(--gray-white);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.review-list-item.close-checked {
    background-color: var(--white);
}

.review-list-item:hover {
    transform: scale(1.025);
}

.review-list-item-header {
    text-align: center;
    line-height: 3vh;
}

.review-list-item-header-title {

}

.review-list-item-header-hashtags {
    display: block;
    font-size: small;
    color: var(--light-blue-gray);
}

.review-list-item-hashtags-list {
    display: inline-block;
}

.review-list-item-writer-img {
    /*grid-row: 3 / span 2;*/
    /*grid-row: 1/3;*/
    height: 6vh;
    border-radius: 50%;
}

.review-list-item-date {
    justify-self: left;
    font-size: medium;
}

