@import url(color.css);
@import url(reset.css);

body {
    background-color: var(--gray-white);
}

.main-container {
    margin-top: 15vh;
}

.title {
    position: relative;
    text-align: center;
}

.title-icon {
    color: var(--dark-blue);
    height: 10vh;
}

.title-header {
    font-size: 5vw;
    color: var(--light-blue-black)
}

.title-footer {
    color: var(--gray)
}

.title-footer-texts {
    display: block;
    margin: 1vh 0;
}

.search-box {
    position: relative;
    width: 60%;
    margin: 5vh auto;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--blue-gray-white);
}

.search-icon {
    display: inline-block;
    font-size: xx-large;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.search-icon-button {
    transform: translateY(25%);
}

.search-input {
    display: inline-block;
    float: right;
    width: 90%;
    height: 5vh;
    font-size: medium;
    text-indent: 1vw;
}

.search-box:after {
    display: block;
    content: '';
    clear: both;
}

.posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    width: 70vw;
    margin: 10vh auto;
}

.card.left {
    position: relative;
    top: 50px;
}

.card.right {
    position: relative;
    top: 80px;
}

.card {
    display: grid;
    width: 15vw;
    grid-template-rows: 20vh 30vh 5vh 7vh;
    grid-template-areas: 'image' 'text' 'hashtags' 'footer';
    margin: 0 auto;
    border-radius: 18px;
    background-color: var(--white);
    box-shadow: 5px 5px 10px rgba(var(--blue-black-rgb), 0.5);
    text-align: center;
    transition: all 0.3s;
}

.card.not-image {
    grid-template-rows:  50vh 5vh 7vh;
    grid-template-areas: 'text' 'hashtags' 'footer';
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    grid-area: image;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    overflow: hidden;
}

.card-image-thumbnail {
    width: 100%;
}

.card-text {
    grid-area: text;
    margin: 25px;
    overflow: hidden;
}

.card-title {
    font-size: x-large;
    margin-bottom: 2vh;
    color: var(--blue-black);
    overflow: hidden;
}

.card-sub {
    font-size: medium;
    color: var(--gray);
    text-align: justify;
}

.card-hashtags {
    grid-area: hashtags;
    color: var(--dark-blue);
    overflow: hidden;
}

.card-footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--light-blue-gray);
}

.left .card-footer {
    background-color: var(--light-sky);
}

.right .card-footer {
    background-color: var(--very-light-blue);
}

.card-footer .date,
.card-footer .views {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
}

.card-footer .border {
    border-right: 1px solid var(--light-dark-sky);
}

.card-footer .type {
    font-size: small;
}

.card-footer .value {
    font-size: medium;
}
